
body {
  background-color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  color: #aaa;
}

h1, p {
  color: #aaa;
}

a { 
  color: yellow;
}

#container {
  position: relative;
}

#canvas {
  position: relative;
  background-color: #000;
}

#colorpicker {
  background-color: rgba(0,0,0,0.5);
  width: 240px;
  height: 120px;
  position: absolute;
  top: 1px;
  left: 1px;
  display: none;
}

#hslcolor {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 180px;
  height: 100px
}

#hslpicker {
  position:absolute;
}

#lumpicker {
  position:absolute;
}

#hsllum {
  position: absolute;
  top: 10px;
  left: 200px;
  width: 30px;
  height: 100px;
  background-color: yellow;
}

#varprompt {
  background-color: rgba(0,0,0,0.5);
  width: 550px;
  height: 20px;
  position: absolute;
  top: 1px;
  left: 250px;
}

#labelprompt {
  color: white;
  margin: 5px;
  font-size: 0.8em;
}

#customSetup {
  padding: 0.4em;
}

.paramTbl {
  background-color: #666;
  width: 8em;
  height: 7em;
  padding: 0.2em;
  margin: 0.4em;
  float: left;
  font-size: 0.8em;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.paramTbl td {
  padding: 0.3em;
  text-align: center;
}

.paramTbl2 {
  background-color: #666;
  width: 12em;
  height: 7em;
  padding: 0.2em;
  margin: 0.4em;
  float: left;
  font-size: 0.8em;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.paramTbl2 td {
  padding: 0.3em;
  text-align: center;
  line-height: 1.2em;
}

.bigChar {
  font-size: 2.4em;
}


.squareBtn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  background: #999;
  padding: 4px;
  text-decoration: none;
  border: 0;
  width: 2.8em;
  height: 2.4em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.squareBtn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

p.clear {
  clear: left;
}

.threeBoxes {
  width: 23em;
  height: 8em;
  background-color: #555;
  float: left;
  margin: 0.4em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.threeBoxesTitle {
  margin: 0;
  padding: 0.2em;
  font-size: 0.7em;
  background-color: #444;
}

#labelColor {
  display: block;
  width: 2em;
  height: 2em;
}
